[Unit]
Description=docker-initless
After=network.target

[Service]
WorkingDirectory=/etc/docker
ExecStart=/usr/local/bin/docker-initless -d
ExecStop=/bin/kill -TERM $MAINPID
ExecStopPost=/usr/local/bin/docker-initless -clean
KillMode=control-group
Type=simple

[Install]
WantedBy=multi-user.target